{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks Home
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4"><img src="{{ asset('images/logo.png') }}"> SnowTricks</h1>
                    <p class="lead">Bienvenue sur le Site communautaire SnowTricks</p>
                    <hr>
                    <p>Premier Site de partage de Tricks de Snowboard</p>
                </div>
            </div>
        </div>
        <section>
            <div class="row d-flex justify-content-around">
                {% for trick in trickList %}
                    <div class="col-sm-12 col-md-3 col-lg-2">
                        <div class="card home-card">
                            <img class="card-img-top" src="{{ asset('images/default_trickImage.jpg') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <a class="test" href="{{ path('app_trick', {'id' : trick.id}) }}">{{ trick.title }}</a>
                                <a class="test" href="{{ path('app_edit', {'id' : trick.id}) }}"><span
                                            class="oi oi-pencil"></span></a>
                                <a class="test" href="{{ path('app_delete', {'id' : trick.id}) }}"><span
                                            class="oi oi-trash"></span></a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>
                        Aucun Trick publié pour le moment.
                    </p>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}