{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une Image
{% endblock %}

{% block body %}
    <section class="flipboard-box">
        <div class="container body-box">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-6 col-lg-4">
                    <h1 class="h3 mb-3 font-weight-normal">Ajouter une Image</h1>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card home-card">
                                {{ form_widget(form.file) }}
                            </div>
                        </div>
                    </div>
                    <div class="field-space">
                        <a href="{{ path('app_editTrick', {'id' : trick.id}) }}" class="btn btn-primary">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Retour au Trick
                        </a>
                        <input class="btn btn-primary" type="submit">
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/formAddImage.js') }}"></script>
{% endblock %}