{% extends 'base.html.twig' %}

{% block title %}
    Trick
{% endblock %}

{% block body %}
    <div class="container body-box">
        <div class="row">
            <div class=" col-sm-12">
                <h1 class="display-4 text-center trick-title">Modification du Trick : "{{ trick.title }}"</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% if trick.image.name is defined %}
                    <img class="card-img-top" src="{{ asset('uploads/images/')~trick.image.name }}"
                         alt="Card image cap">
                {% else %}
                    <img class="card-img-top" src="{{ asset('images/default_trickImage.jpg') }}"
                         alt="Card image cap">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="trick-content">
                    {{ include('trick/form.html.twig') }}
                </p>
            </div>
        </div>
        <a class="btn btn-danger"
           href="{{ path('app_delete', {'id' : trick.id}) }}">Supprimer</a>
    </div>
{% endblock %}