{% extends 'base.html.twig' %}

{% block title %}
    Trick
{% endblock %}

{% block body %}
    <div class="container body-box">
        <div class="row">
            <div class=" col-sm-12">
                <h1 class="display-4 text-center trick-title">Modification du Trick : "{{ trick.title }}"</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card home-card">
                    {% if trick.image.name is defined %}
                        <img class="card-img-top" src="{{ asset('uploads/images/')~trick.image.name }}"
                             alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('images/default_trickImage.jpg') }}"
                             alt="Card image cap">
                    {% endif %}
                    <div class="card-footer">
                        <!-- Button Modal -->
                        <button type="button" class="btn float-right" data-toggle="modal" data-target="#myModal">
                            <span class="oi oi-trash"></span>
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Modal body..
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn action-icon float-right" href="#">
                            <span class="oi oi-pencil"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            {% if trick.images is defined %}
                {% for image in trick.images %}
                    <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            <img class="card-img-top card-img-zoom"
                                 src="{{ asset('uploads/images/') }}"
                                 alt="Card image cap">
                            <div class="card-footer">
                                <a class="float-right" href="#">
                                    <span class="oi oi-trash"></span>
                                </a>
                                <a class="action-icon float-right" href="#">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row d-flex">
            {% if trick.videos is defined %}
                {% for video in trick.videos %}
                    <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            <embed class="card-img-top card-img-zoom" src="https://www.youtube.com/embed/hih9jIzOoRg"
                                   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                   allowfullscreen>
                            <div class="card-footer">
                                <a class="float-right" href="#">
                                    <span class="oi oi-trash"></span>
                                </a>
                                <a class="action-icon float-right" href="#">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="trick-content">
                    {{ include('trick/form.html.twig') }}
                </p>
            </div>
        </div>
        <a class="btn btn-danger"
           href="{{ path('app_delete', {'id' : trick.id}) }}">Supprimer</a>
    </div>
{% endblock %}