{% extends 'base.html.twig' %}

{% block title %}
    Trick
{% endblock %}

{% block body %}
    <div class="container body-box">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class=" col-sm-12">
                <h1 class="display-4 text-center trick-title">
                    Modification du Trick : "{{ trick.title }}"
                </h1>
            </div>
        </div>
        {% if trick.images is defined %}
            <div class="row d-flex">
                {% for image in form.images %}
                    <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            <img class="card-img-top card-img-display"
                                 src="{{ asset('uploads/images/' ~ image.vars.data.name ) }}"
                                 alt="{{ image.vars.data.name }}">
                            <div class="card-footer">
                                <div class="field-img-edit">
                                    {{ form_widget(image) }}
                                </div>
                                <a class="btn btn-warning btn-img-delete float-right"
                                   href="{{ path('app_deleteImage', {'id' : image.vars.data.id}) }}">
                                    <span class="oi oi-trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row d-flex">
            {% if trick.videos is defined %}
                {% for video in form.videos %}
                    <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            <iframe src="{{ video.vars.data.url }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="card-footer">
                                <div class="field-video-edit">
                                    {{ form_widget(video) }}
                                </div>
                                <a class="btn btn-warning btn-video-delete float-right" href="{{ path('app_deleteVideo', {'id' : video.vars.data.id}) }}">
                                    <span class="oi oi-trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box-form">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="field-space">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="field-space">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                    </div>
                    <div class="field-space">
                        {{ form_label(form.groupTrick) }}
                        {{ form_widget(form.groupTrick) }}
                    </div>
                    <div class="field-space">
                        <div class="row">
                            <div class="col-sm-10 col-md-6 col-lg-4">
                                <a href="{{ path('app_addImage', {'id' : trick.id}) }}" id="add_image" class="btn btn-warning">Ajouter une image</a>
                                <a href="{{ path('app_addVideo', {'id' : trick.id}) }}" id="add_video" class="btn btn-warning">Ajouter une video</a>
                            </div>
                        </div>
                    </div>
                    <div class="field-space">
                        <div class="row">
                            <div class="col-sm-10 col-md-6 col-lg-4">

                            </div>
                        </div>
                    </div>
                    <div class="field-space">
                        <a class="btn btn-danger float-right"
                           href="{{ path('app_deleteTrick', {'id' : trick.id}) }}">Supprimer</a>
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary float-right action-button-space'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}