{% extends 'base.html.twig' %}

{% block title %}
    Trick
{% endblock %}

{% block body %}
    <div class="container body-box">
    <div class="row">
        <div class=" col-sm-12">
            <h1 class="display-4 text-center trick-title">Modification du Trick : "{{ trick.title }}"</h1>
        </div>
    </div>
    {% if trick.images is defined %}
    {% for image in imageList %}
    {% if loop.first %}
    <div class="row">
    <div class="col-sm-12">
    <div class="card home-card">
    {#<img class="card-img-top"
         src="{{ asset('uploads/images/' ~ trick.image ) }}"
         alt="Card image cap">#}
    {% else %}
    <div class="row d-flex">
        <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
            <div class="card home-card">
                {#<img class="card-img-top"
                     src="{{ asset('uploads/images/' ~ trick.image ) }}"
                     alt="Card image cap">#}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card home-card">
                    <img class="card-img-top"
                         src="{{ asset('images/default_trickImage.jpg') }}"
                         alt="Card image cap">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row d-flex">
        {% if trick.videos is defined %}
            {% for video in trick.videos %}
                    <div class="trick-galery-box col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            <embed class="card-img-top" src="https://www.youtube.com/embed/{{ video.url }}"
                                   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                   allowfullscreen>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    </div>
        <div class="row">
            <div class="trick-title-box col-sm-12">
                <h1 class="display-4 text-center trick-title">{{ trick.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="trick-content">
                    {{ trick.content }}
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-3 trick-info-box">
                Publié le : {{ trick.publishedAt|date('d/m/Y') }}
            </div>
            <div class="col-sm-3 trick-info-box">
                Groupe : {{ trick.groupTrick.name }}
            </div>
            {% if trick.updatedAt|date('d/m/Y') < trick.publishedAt|date('d/m/Y') %}
                <div class="col-sm-3 trick-info-box">
                    Mise à jour le : {{ trick.updatedAt|date('d/m/Y') }}
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-12 ">
                {% if app.user.username is defined %}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="field-space">
                        {{ form_row(form.comment_content) }}
                    </div>
                    <div class="field-space">
                        {{ form_widget(form.save_comment, {'attr': {'class': 'btn btn-primary float-right'}}) }}
                    </div>
                    <div class="field-space">
                        {{ form_rest(form) }}
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <div class="field-space">
                        Vous devez être connecté pour écrire un commentaire
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            {% if commentList is defined %}
                {% for comment in commentList %}
                    <div class="col-sm-12">
                        <div class="card home-card">
                            <div class="card-header">
                                {{ comment.getUser.username }}
                            </div>
                            <div class="card-body comment-content-box">
                                {{ comment.commentContent }}
                            </div>
                            <div class="card-footer">
                                {{ comment.publishedAt|date('d/m/Y h:i') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>
                    Aucun commentaire. Soyez le premier à en écrire un !
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}