{% extends 'base.html.twig' %}

{% block title %}
    Liste des Tricks
{% endblock %}

{% block body %}
    <div class="container body-box">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h1>Liste des Tricks</h1>
                </div>
            </div>
            <hr>
            <div class="row d-flex">
                {% for trick in trickList %}
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card home-card">
                            {% if trick.image.name is defined %}
                                <img class="card-img-top card-img-zoom" src="{{ asset('uploads/images/')~trick.image.name }}">
                            {% else %}
                                <img class="card-img-top card-img-zoom" src="{{ asset('images/default_trickImage.jpg') }}"
                                     alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <a class="" href="{{ path('app_trick', {'id' : trick.id}) }}">{{ trick.title }}</a>
                                {% if app.user.username is defined %}
                                    <a class="float-right" href="{{ path('app_edit', {'id' : trick.id}) }}"><span
                                                class="oi oi-pencil"></span></a>
                                    <a class="action-icon float-right"
                                       href="{{ path('app_delete', {'id' : trick.id}) }}"><span
                                                class="oi oi-trash"></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>
                        Aucun Trick publié pour le moment.
                    </p>
                {% endfor %}
            </div>
        </section>
    </div>
    </div>
    </div>
{% endblock %}