{% extends 'base.html.twig' %}

{% block title %}
    Liste des Tricks
{% endblock %}

{% block body %}
    <div class="container body-box">
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h1>Liste des Tricks</h1>
                </div>
            </div>
            <hr>
            <div class="row d-flex">
                {% if trickList is defined %}
                    {% for trick in trickList %}
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="card home-card">
                                {% for image in trick.images %}
                                    {% if loop.first %}
                                        <img class="card-img-top card-img-zoom"
                                             src="{{ asset('uploads/images/'~ image.name) }}"
                                             alt="Card image cap">
                                    {% endif %}
                                {% else %}
                                    <img class="card-img-top card-img-zoom"
                                         src="{{ asset('images/default_trickImage.jpg') }}"
                                         alt="Card image cap">
                                {% endfor %}
                                <div class="card-body">
                                    <a class="" href="{{ path('app_trick', {'id' : trick.id, 'page' : 1}) }}">{{ trick.title }}</a>
                                    {% if app.user.username is defined %}
                                        <a class="float-right"
                                           href="{{ path('app_deleteTrick', {'id' : trick.id}) }}"><span
                                                    class="oi oi-trash"></span></a>
                                        <a class="action-button-space float-right"
                                           href="{{ path('app_editTrick', {'id' : trick.id}) }}"><span
                                                    class="oi oi-pencil"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 justify-content-center">
                        <div class="card home-card">
                            <div class="card-body">
                                Aucun Trick publié pour le moment.
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
    </div>
    </div>
{% endblock %}